body.open-modal {
  height: 100vh;
  overflow-y: hidden;
}

.close-modal:hover {
  cursor: pointer;
}

.open-modal:hover {
  cursor: pointer;

  /* Propriété qui cache le reste de la page */
  /* height: 100vh;
  overflow-y: hidden; */
}

.lightbox-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(63, 6, 67, 0.2);
  width: 100%;
  height: 100%;
  border: solid 5px rgb(234, 0, 255);
  z-index: 10;
  overflow-y: hidden;
}

/* Container principal juste après le backdrop */
.lightbox-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: rgb(206, 233, 206);
  padding-top: 60px;
  width: 50%;
  height: 100vh;
}

.next-btn-container,
.back-btn-container {
  border: solid 8px rgb(112, 129, 216);
  width: 30px;
  height: 450px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Style des balises <i> */
.back-btn-container,
.next-btn-container i {
  font-size: 50px;
  color: rgb(189, 16, 16);
  font-weight: bold;
}

.lightbox-container button {
  background-color: transparent;
  border: solid 0px;
}

/* Bloc image = paragraphe central */
.block-img-lightbox-container {
  width: 80%;
  height: 92%;
  border: solid 5px rgb(255, 200, 0);
}

/* Container direct de l'image */
.div-container-media {
  /* width: 100%;
  height: 100%; */
  border: solid 5px rgb(0, 34, 255);
  border-radius: 10px;
}

/* Balise img */
.lightbox-container img {
  object-fit: contain;
  width: 100%;
  height: 100vh;
  background-color: rgb(206, 216, 112);
}

/* Titre de l'image */
.lightbox-container p {
  height: 30px;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(189, 16, 16);
  border: solid 5px rgb(0, 255, 221);
}
