/* MODAL */

/* Fond d'arrière plan de la modale */
.background-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 100;

  /* Couleur d'arrière-plan avec opacité
    Applique une couleur d'arrière plan aténuée qui n'affecte pas toute la modale */
  background-color: rgba(255, 255, 255, 0.678);
}

.modal-02Container-Class {
  animation-name: modalAnimation;
  animation-duration: 0.7s;
  overflow: hidden;
  position: relative;

  /* scrolling right */
  width: 670px;
  height: 750px;
  border-radius: 5px;
  overflow: auto;

  /* Centrer la modale dans son container */
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -------------------------------------- */
  border-radius: 5px;
  background-color: #db8876;
  /* Largeur de la modale */

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  margin: auto;
}

.modal-02Container-Class header {
  width: 100%;
}

.modal-02Container-Class header img {
  cursor: pointer;
}

.modal-02Container-Class header h2 {
  margin-block: 0em;
  width: 100%;
  font-size: 64px;
  font-weight: normal;
  text-align: start;
}

.modal-name-photographer {
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

.modal-03Container-Header-Class {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.modal_04Container-div-Class {
  width: 100%;
}

.h2-Contact-Element {
  font-size: 64px;
  font-weight: normal;
}

/* ATRIBUT QUI SERA RÉCUPÉRÉ
dans le fichier JS et à qui une valeur lui sera attribué contenant mon message d'erreur */
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 18px;
  color: rgb(189, 16, 16);
  font-weight: 900;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 0.7;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible='true']::after {
  opacity: 1;
}

/* Contour rouge des input */
.formData[data-error-visible='true'] .text-control {
  border: 4px solid rgb(189, 16, 16);
}

@keyframes modalAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
