.d-block {
  display: block;
}

.d-none {
  display: none;
}

/* CONTAINER de L'EN-TÊTE de la PAGE PHOTOGRAPHE */
.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: 0 100px;
  padding: 50px;
  /* border: solid 3px rgb(255, 217, 0); */
}

.infoContactContainer {
  display: flex;
  flex-direction: column;
  /* border: solid 3px rgb(0, 238, 255); */
}

.photographer-name {
  font-size: 64px;
  /* font-size: 50px; */
  color: #d3573c;
  font-weight: 400;
  margin-bottom: 10px;
  /* border: solid 1px rgb(64, 255, 0); */
}

.otherInfos {
  display: flex;
  flex-direction: column;
  /* border: solid 5px rgb(255, 174, 0); */
}

.cityCountryContainer {
  display: flex;
  flex-direction: row;
  color: #901c1c;
  font-size: 24px;
  margin-bottom: 20px;
  /* border: solid 1px rgb(0, 13, 255); */
}

.pTagline {
  color: #525252;
  font-size: 18px;
  /* border: solid 1px rgb(234, 0, 255); */
}

/* CONTAINER "image" EN-TÊTE PAGE PHOTOGRAPHE */
.apparenceContainer {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border: solid 5px rgb(0, 195, 255); */
}

.apparenceContainer img {
  width: 100%;
  height: 100%;
}

.img-card-size {
  width: 350px;
  height: 300px;
  background-color: #db8876;
}

.test {
  background-color: rgb(0, 170, 255);
  width: 100px;
}

.picture-title {
  color: #901c1c;
  font-size: 24px;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
/* GALERIE */
.grid-gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*espace entre les colonnes */
  gap: 30px;
  /* border: solid 10px blue; */
}

.grid-gallery-container article {
  border: solid 1px rgb(255, 47, 0);
}

.infos-container {
  border: solid 1px rgb(149, 149, 169);
}
.note-container {
  width: 30%;
  /* border: solid 2px rgb(46, 138, 0); */
}

.p-note {
  width: 50%;
  /* background-color: rgb(223, 210, 125); */
}

.p-heart {
  width: 50%;
  /* border: solid 2px rgb(212, 125, 223); */
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* background-color: #db8876;
  background-color: #cfebcd; */
}

.img-size {
  width: 100%;
  object-fit: cover;
  height: inherit;
  object-position: 0% 30%;
}

.video-size {
  width: 100%;
  object-fit: cover;
  height: inherit;
}

.h2-element-title-img {
  width: 70%;
  /* border: solid 2px rgb(212, 125, 223); */
}

/* MODAL */

.modal-02Container-Class {
  height: 100%;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal-02Container-Class header {
  width: 100%;
}

.modal-02Container-Class header img {
  cursor: pointer;
}

.modal-02Container-Class header h2 {
  margin-block: 0em;
  width: 100%;
  font-size: 64px;
  font-weight: normal;
  text-align: start;
}

.modal-name-photographer {
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

.modal-03Container-Header-Class {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.modal_04Container-div-Class {
  width: 100%;
}

.h2-Contact-Element {
  font-size: 64px;
  font-weight: normal;
}

/*  FORMULAIRE  */
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.text-area {
  width: 100%;
}
