#statisticals-window {
  display: flex;
  justify-content: flex-end;
  z-index: 100000;
  position: relative;
  /* border: solid 2px rgb(0, 255, 247); */
}

.statisticals {
  width: 376px;
  height: 89px;
  background-color: #db8876;
  border-radius: 10px 10px 0px 0px;
  padding-left: 50px;
  padding-right: 50px;

  /* border: solid 1px rgb(0, 76, 255); */
}

.stats-p {
  font-size: 24px;
  /* border: solid 0.5px rgb(255, 242, 0); */
}

.i-heart-stats {
  font-size: 24px;
  margin-left: 10px;
  /* border: solid 0.5px red; */
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
  bottom: 2px;
}
