@import url('photographer.css');

html,
p {
  /* margin: auto; */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

/* FLEXBOX --------------------------*/

.d-flex {
  display: flex;
  border: solid 1px rgb(255, 157, 0);
}

.fd-c {
  flex-direction: column;
  border: solid 2px rgb(255, 187, 0);
}

.fd-r {
  flex-direction: row;
  border: solid 2px rgb(238, 0, 255);
}

.jc-c {
  justify-content: center;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-sb {
  justify-content: space-between;
  border: solid 5px rgb(123, 255, 0);
}

/* CONTAINER --------------------------*/

.c01 {
  max-width: 100%;
  margin: auto;
  border: solid 3px yellow;
  padding: 50px;
  height: 800px;
}

/* MARGES --------------------------*/
.mb {
  margin-bottom: 50px;
}
/*-------------------------------------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  /* border: solid 3px yellow; */
}

.logo {
  height: 50px;
  margin-left: 100px;
  /* border: solid 3px yellow; */
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 20px;
}

/* 
CONTAINER DE L'IMAGE 
permettant à celle-ci d'être agrandit
et de permettre que le surplus de l'image
soit masqué.
*/
.imgContainer {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  /* TRio indispensable pour centrer
   1 seul élément dans son block */
  display: flex;
  align-items: center;
  justify-content: center;
  /* --- */
  overflow: hidden;
  /* border: solid 1px red; */
}

.imgContainer img {
  width: 100%;
  height: 100%;
  /* object-position: 20% 30%; */
}

.infosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px red; */
}

.divCityCountryContainer {
  display: flex;
  flex-direction: row;
  color: #d3573c;
  font-size: 13px;
  /* border: solid 1px rgb(0, 13, 255); */
}

.divCityCountryContainer p {
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  /* border: solid 1px rgb(0, 13, 255); */
}

.otherInfosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 10px;
}

.tagline {
  margin-top: 0px;
  margin-bottom: 0px;
  /* border: solid 1px rgb(9, 255, 0); */
}

.price {
  color: #757575;
  margin-top: 0px;
  margin-bottom: 0px;
  /* border: solid 1px rgb(9, 255, 0); */
}
